
html {
  font: 300 16px/1.3em Roboto, sans-serif;
  background-color: #302f30;
  background-color: #e7e5dd;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Slab", serif;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/*------------] Intro [------------*/

#intro-peel {
  width: 200px;
  height: 200px;
}

#intro-peel .peel-top {
  background: url(/images/texture-1.png) no-repeat;
  background-size: cover;
  text-indent: -10000px;
}

#intro-peel .peel-back {
  background: url(/images/texture-2.png) no-repeat;
  background-size: cover;
}

#intro-peel .peel-bottom {
  background: url(/images/texture-3.png) no-repeat;
  background-size: cover;
  line-height: 1.3em;
  text-align: center;
  padding: 55px 30px;
  color: #dedede;
  box-sizing: border-box;
  font-family: "Roboto Slab";
}

.peel {
  width: 200px;
  height: 200px;
}

.tap-me {
  cursor: pointer;
  position: relative;
}

.tap-me:after {
  content: 'Tap!';
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255,255,255,.3);
  color: rgba(0,0,0,.5);
  font-size: 13px;
  font-weight: bold;
  padding: 2px 12px;
  border-radius: 2px;
  pointer-events: none;
  transition: opacity 100ms linear;
}

.tap-me.tapped:after {
  opacity: 0;
}

.tap-me.book:after {
  background-color: #d9d0c3;
}

.tap-me.azure:after {
  background-color: #82bbd0;
}

.peel-top,
.peel-back,
.peel-bottom {
  text-align: center;
}

.peel-top {
  background-color: #86aecb;
}

.peel-back {
  background-color: #b5bec5;
}

.peel-bottom {
  color: #eaefe0;
  background-color: #555;
}

/*------------] Peel styles [------------*/

.yellow .peel-top {
  background-color: #ddd87d;
}

.yellow .peel-back {
  background-color: #eae69f;
}

.purple .peel-top {
  background-color: #9e7698;
}

.purple .peel-back {
  background-color: #d5b5d0;
}

.azure .peel-top {
  background-color: #4ea0be;
}

.azure .peel-back {
  background-color: #99bfcd;
}

.aqua .peel-top {
  background-color: #409ca0;
}

.aqua .peel-back {
  background-color: #7cb8af;
}

.plum .peel-top {
  background-color: #b64a67;
}

.plum .peel-back {
  background-color: #cd7e92;
}

.heart .peel-top {
  background-color: #cd5454;
}

.heart .peel-back {
  background-color: #ed8484;
}

.peel.book {
  left: 65px;
  width: 130px;
  height: 160px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.5);
}

.book .peel-top {
  background-color: #cabdab;
}

.book .peel-top-shadow {
  box-shadow: 0px 1px 5px rgba(0,0,0,.5) !important;
}

.book .peel-back {
  background-color: #f2f2f2;
}

.book .peel-bottom {
  background-color: #f2f2f2;
  color: #302f30;
}
