@reference "./layout.css";

h2, h3 {
    @apply font-bold;
}

h2 {
    @apply text-2xl py-3.5;
}

h3 {
    @apply text-lg;
}

.peel-layer {
    @apply flex items-center justify-center;
}

#static-examples, #dynamic-examples {
    .peel-layer {
        @apply text-2xl;
    }
}

.demos {
    @apply grid lg:grid-cols-2 gap-6;

    > div {
        @apply flex flex-col p-3 bg-neutral-50 rounded-sm;

        > p {
            @apply grow;
        }

    }
}

.peel {
    @apply mx-auto my-8;
}
