name: Build Lib (reusable)

on:
  workflow_call:

jobs:
  build-lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm -w build

      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
          if-no-files-found: error
