name: Deploy docs

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "deploy-docs"
  cancel-in-progress: false

jobs:
  build-lib:
    uses: ./.github/workflows/build-lib.yml

  build-docs:
    runs-on: ubuntu-latest
    needs: build-lib
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - run: pnpm -C docs install --frozen-lockfile
      - run: pnpm -C docs build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build

  deploy:
    needs: build-docs
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4